{{ form_start(form, {'attr': {'id': 'candidateForm'}}) }}
<section class="section-padding">
                <div class="container">
                    <div class="row">
                        <h3 class="text-extrabold">Your personal informations</h3>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
    {{ form_widget(form.gender) }}
    <label for="gender" class="active">Gender</label>
                            </div>
                        </div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
    {{ form_widget(form.first_name) }}
    {{ form_label(form.first_name, 'First Name')}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
    {{ form_widget(form.last_name) }}
    {{ form_label(form.last_name, 'Last Name')}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-field">
    {{ form_widget(form.current_location) }}
    {{ form_label(form.current_location, 'Current Location')}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="input-field">
    {{ form_widget(form.adress) }}
    {{ form_label(form.adress, 'Adress')}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="file-field input-field"
                                 style="margin-top: 32px;">
                                <div class="btn btn-lg primary waves-effect waves-light">
                                    <span><i class="material-icons">insert_photo</i> Photo</span>
    {{ form_widget(form.profil_picture) }}
                                </div>

                                <div class="existing-file">{% if app.user.candidate.profilPicture %}
                                    <a href="{{asset('assets/files/' ~ app.user.candidate.profilPicture.source)}}
                                    " target="_blank"><i class="material-icons">&#xE24D;</i> {{ app.user.candidate.profilPicture.source }}</a>
                                {% else %}
                                <a href="" target="_blank"><i class="material-icons">&#xE24D;</i> profilPicture.jpg</a>
                                {% endif %}</div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload your ID photo" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-8">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="input-field">
    {{ form_widget(form.country) }}
    {{ form_label(form.country, 'Country')}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="input-field">
    {{ form_widget(form.nationality) }}
    {{ form_label(form.nationality, 'Nationality')}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="input-field">
    {{ form_widget(form.birthdate, {'attr': {'class': 'datepicker'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="input-field">
    {{ form_widget(form.birthplace) }}
    {{ form_label(form.birthplace, 'Birthplace')}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-40">
                        <h3 class="text-extrabold">Your professional profile</h3>
                        <div class="col-xs-12 col-sm-6">

                            <div class="card card-panel passport">
                                <div class="file-field input-field">
                                    <div class="btn btn-lg primary waves-effect waves-light">
                                        <span><i class="material-icons">&#xE24D;</i> Passport</span>
    {{ form_widget(form.passport_file) }}
                                    </div>
                                    <div class="existing-file">{% if app.user.candidate.passportFile %}
                                        <a href="{{asset('assets/files/' ~ app.user.candidate.passportFile.source)}}
                                        " target="_blank"><i class="material-icons">&#xE24D;</i> {{ app.user.candidate.passportFile.source}}</a>
                                    {% else %}
                                    <a href="" target="_blank"><i class="material-icons">&#xE24D;</i> passport.png</a>
                                    {% endif %}</div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Upload your passport" readonly>
                                    </div>
                                </div>

                                <div class="file-field input-field">
                                    <div class="btn btn-lg primary waves-effect waves-light">
                                        <span><i class="material-icons">&#xE24D;</i> CV</span>
    {{ form_widget(form.cv) }}
                                    </div>
                                    <div class="existing-file">{% if app.user.candidate.cv %}
                                        <a href="
                                        {{asset('assets/files/' ~ app.user.candidate.cv.source)}}
                                        " target="_blank"><i class="material-icons">&#xE24D;</i> {{ app.user.candidate.cv.source }}</a>
                                    {% else %}
                                    <a href="" target="_blank"><i class="material-icons">&#xE24D;</i> cv.pdf</a>
                                    {% endif %}</div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Upload your Curriculum Vitae" readonly>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6">
                            <div class="col-xs-12 col-sm-12">
                                <div class="input-field" style="margin-top: 5px;">
                                {{ form_widget(form.job_category) }}
                                <label for="job_sector" class="active">Interest in job sector</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <div class="input-field">
                                {{ form_widget(form.experience) }}
                                    <label for="experience" class="active">Experience</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <div class="input-field">
    {{ form_widget(form.description) }}
    {{ form_label(form.description, 'Short description for your profile, as well as more personnal informations (e.g. your hobbies/interests ). You can also paste any link you want.')}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-padding gray-bg">
                <div class="container">
                    <div class="row">
                        <h3 class="text-extrabold">Your K-Yachting account</h3>
                        <div class="col-xs-12 col-sm-4">
                            <div class="input-field">
                                {{ form_widget(form.user.email) }}
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="input-field">
                                {{ form_row(form.user.plainPassword.first) }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="input-field">
                                {{ form_row(form.user.plainPassword.second) }}
                            </div>
                        </div>
                    </div>
                    
{{ form_end(form) }}
